@charset "UTF-8";

* {	
	margin: 0px auto; 
	padding: 0px; 
}

.hd { 
	text-align: center; 
}

	
/* Animation Canvas */
.animation_canvas {
	overflow: hidden;
	position: relative;
	width: 600px;
	height: 400px;
	margin: 0 auto;
}

/* Slider Panel */
.slider_panel {
	width: 3000px;
	position: relative;
}

.slider_image {
	float: left;
	width: 600px;
	height: 400px;
}

/* Slider Text Panel */
.slider_text_panel {
	position: absolute;
	top: 300px;
	left: 50px;
}

.slider_text {
	position: absolute;
	width: 250px;
	height: 150px;
	color: white;
}

/* Control Panel */
.control_panel {
	position: absolute;
	top: 380px;
	left: 270px;
	height: 13px;
	overflow: hidden;
}

.control_button {
	width: 12px;
	height: 46px;
	position: relative;
	float: left;
	cursor: pointer;
	background: url('../img/point_button.png');
}

.control_button:hover {
	top: -16px;
}

.control_button.active {
	top: -31px;
}