<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanul.mybatis.memberMapper.xml">
	<!-- SQL 문장 작성 -->
	<!-- 
		<insert | delete | update | select ~~>
			- id 속성(식별자) : DAO에서 설정한 값 ▶ session.insert("memberInsert", dto);
			- parameterType 속성 : 매개변수 타입(클래스, 기본데이터) ▶ 생략가능
			- 매개변수 처리 : dto.getName() → #{속성명}
			- SQL문장 마지막에 세미콜론(;)은 입력하지 않는다
			- resultType 속성 : select 쿼리를 수행했을 때 결과 타입
	-->
	
	<insert id="memberInsert" parameterType="MemberDTO">
		INSERT INTO Member
			VALUES(#{name}, #{id}, #{pw}, #{age}, #{addr}, #{tel})
	</insert>
	
	<select id="memberSearchAll" resultType="MemberDTO">
		SELECT * FROM Member
	</select>
	
	<delete id="memberDelete" parameterType="String">
		DELETE FROM Member WHERE id = #{id}
	</delete>
	
	<select id="getById" parameterType="String" resultType="MemberDTO">
		SELECT * FROM Member WHERE id = #{id}
	</select>
	
	<update id="memberUpdate" parameterType="MemberDTO">
		UPDATE Member 
		SET	name = #{name},
				pw = #{pw},
				age = #{age},
				addr = #{addr},
				tel = #{tel} 
		WHERE id = #{id}
	</update>
	
	<select id="memberSearch" parameterType="SearchDTO" resultType="MemberDTO">
		SELECT * FROM Member WHERE UPPER(${part}) LIKE UPPER(#{searchData})
	</select>
	
</mapper>
